@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    @*CSS*@
    <link href='http://fonts.googleapis.com/css?family=Abel|Aldrich' rel='stylesheet' type='text/css' />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/steam.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class='header-wrapper'>
        <header>
            <div class='wrapper'>
                <a class='logo huge' href='/'>Got&nbsp;That&nbsp;Game?</a>
            </div>
        </header>
    </div>
    <div class='header-blanket'></div>
    @RenderBody()
    <div class="clear"></div>
    <footer>
        <div class='col-third'>
            <h3>Sitemap</h3>
            <ul class='sitemap-list'>
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("About", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Support", "Support", "Home")
                </li>
                <li>
                    @Html.ActionLink("Legal", "Legal", "Home")
                </li>
                <li>
                    <a href='http://steampowered.com'>Powered By Steam</a>
                </li>
            </ul>
        </div>
        <div class="col-third">&nbsp;</div>
        <div class='col-third'>
            <h3>Privacy</h3>
            <p>
                Got This Game does not store personal information or share it with third-parties
            </p>
        </div>
    </footer>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36218273-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
