@using Combres.Mvc
@using GotThatGame
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A Simple Way to Compare Steam Game Collections with Friends" />
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="Author" content="Erik Ralston">
    <meta name="copyright" content="Copyright 2013">
    <meta name="robots" content="index, follow">
    <meta name="title" content="@ViewBag.Title">
    <title>
        @ViewBag.Title
        Got That Game? Compare Your Steam Games With Friends
    </title>

    @*CSS*@
    <link href='http://fonts.googleapis.com/css?family=Abel|Aldrich' rel='stylesheet' type='text/css' />
    @if (@Html.IsDebug())
    {
        <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    }
    else
    {
        @Url.CombresLink("siteCss")
    }
    @RenderSection("head", false)

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36218273-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class='header-wrapper'>
        <header>
            <div class='wrapper'>
                <h1><a class='logo huge' href='/'>Got&nbsp;That&nbsp;Game?</a></h1>
                <h2 class="subtitle">Compare Your Steam Games With Friends</h2>
            </div>
        </header>
    </div>
    <div class='header-blanket'></div>
    @RenderBody()
    <div class="clear"></div>
    <footer>
        <div class='col-third'>
            <h3>Sitemap</h3>
            <ul class='sitemap-list'>
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("About", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Support", "Support", "Home")
                </li>
                <li>
                    @Html.ActionLink("Legal", "Legal", "Home")
                </li>
                <li>
                    <a href='http://steampowered.com'>Powered By Steam</a>
                </li>
            </ul>
        </div>
        <div class="col-third">
            <h3>Privacy</h3>
            <p>
                Got That Game does not store personal information or share it with third-parties
            </p>
        </div>
        <div class='col-third'>
            <h3>Made In the USA</h3>
            <p>
                Created by <a href="http://erik-ralston.com" target="_blank">Erik Ralston</a> who works at <a href="http://addisolv.com" target="_blank">Addisolv</a>
            </p>
            <p>
                This site is not affiliated with Valve or Steam. It remains a one-way financial relationship.
            </p>
        </div>
    </footer>
    @RenderSection("bodyBottom", false)
</body>
</html>
